.search-form
  background-color: $white
  padding: 1rem 2rem

  .form-wrapper
    display: flex
    flex-direction: column
    margin-bottom: 1rem

    div,
    label
      display: block

    label
      margin-bottom: 0

    #edit-type, #edit-language
      .js-form-item.form-item.js-form-type-checkbox.form-type-checkbox
        display: flex
        gap: 5px

    .form-submit
      align-self: flex-end
